* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  background: #ddd;
  font-family: Hack, monospace;
}
html .survey,
body .survey {
  width: 360px;
  height: 100%;
  background: #eee;
  margin: 20px auto;
  box-shadow: 0 5px 12px -4px #000;
}
html .survey ul,
body .survey ul {
  width: 100%;
  padding: 10px;
}
html .survey ul li,
body .survey ul li {
  background: #fff;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 5px 6px -6px #000;
  position: relative;
}
html .survey ul li#assign,
body .survey ul li#assign {
  width: 100%;
  padding: 0;
}
html .survey ul li#assign #name,
body .survey ul li#assign #name {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
  margin: 0;
  text-align: center;
  color: #ff4136;
}
html .survey ul li#assign #name.active,
body .survey ul li#assign #name.active {
  color: #2ecc40;
}
html .survey ul li:last-child,
body .survey ul li:last-child {
  margin-bottom: 0;
}
html .survey ul li.done,
body .survey ul li.done {
  border-bottom: 10px solid #0c0;
}
html .survey ul li .clear,
body .survey ul li .clear {
  clear: both;
}
html .survey ul li .submit,
body .survey ul li .submit {
  width: 100%;
  border: 1px solid #000;
  outline: none;
  padding: 4px 0;
  cursor: pointer;
}
html .survey ul li .submit[disabled],
body .survey ul li .submit[disabled] {
  opacity: 0.3;
  cursor: none;
}
html .survey ul li header,
body .survey ul li header {
  font-weight: bold;
}
html .survey ul li section select,
body .survey ul li section select {
  width: 324px;
  border: 1px solid #000;
  padding: 4px;
  margin: 8px 0;
  background: #fff;
  cursor: pointer;
}
html .survey ul li section .result,
body .survey ul li section .result {
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  padding: 0 4px;
  background: #eee;
  border-radius: 5px;
  margin: 0 2px;
}
html .survey ul li section .color,
body .survey ul li section .color {
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  cursor: pointer;
}
html .survey ul li section .color[data-id=red],
body .survey ul li section .color[data-id=red] {
  background: #c00;
}
html .survey ul li section .color[data-id=orange],
body .survey ul li section .color[data-id=orange] {
  background: #fa0;
}
html .survey ul li section .color[data-id=yellow],
body .survey ul li section .color[data-id=yellow] {
  background: #ee5;
}
html .survey ul li section .color[data-id=green],
body .survey ul li section .color[data-id=green] {
  background: #080;
}
html .survey ul li section .color[data-id=blue],
body .survey ul li section .color[data-id=blue] {
  background: #09f;
}
html .survey ul li section .color[data-id=purple],
body .survey ul li section .color[data-id=purple] {
  background: #86c;
}
html .survey ul li section .color[data-id=brown],
body .survey ul li section .color[data-id=brown] {
  background: #752;
}
html .survey ul li section .color[data-id=pink],
body .survey ul li section .color[data-id=pink] {
  background: #f7f;
}
html .survey ul li section .color[data-id=grey],
body .survey ul li section .color[data-id=grey] {
  background: #888;
}
html .survey ul li section .color[data-id=light],
body .survey ul li section .color[data-id=light] {
  background: #fff;
}
html .survey ul li section .color[data-id=normal],
body .survey ul li section .color[data-id=normal] {
  background: #ccc;
}
html .survey ul li section .color[data-id=dark],
body .survey ul li section .color[data-id=dark] {
  background: #000;
}
html .survey ul li section .select,
body .survey ul li section .select {
  border: 20px solid #fff;
}
html .survey ul li section.grid,
body .survey ul li section.grid {
  padding: 0 2px;
}
html .survey ul li section.grid .cell,
body .survey ul li section.grid .cell {
  width: 54px;
  height: 54px;
  border: 1px solid #000;
  float: left;
  cursor: pointer;
  background: #fff;
}
html .survey ul li section.grid .select,
body .survey ul li section.grid .select {
  background: #000;
}
