doctype html
title Survey
link(href="https://cdn.jsdelivr.net/font-hack/2.013/css/hack.min.css",rel="stylesheet")
link(href="styles/bin/main.css", rel="stylesheet")
body
    .survey
        ul
            li
                header 1. Pick a color
                section.colors.options
                    #red.color
                    #orange.color
                    #yellow.color
                    #green.color
                    #blue.color
                    #purple.color
                    #brown.color
                    #pink.color
                    #grey.color
                hr
                section.shades.options
                    #light.color
                    #normal.color
                    #dark.color
                .clear
            li
                header 2. Pick another color
                section.colors.options
                    #red.color
                    #orange.color
                    #yellow.color
                    #green.color
                    #blue.color
                    #purple.color
                    #brown.color
                    #pink.color
                    #grey.color
                hr
                section.shades.options
                    #light.color
                    #normal.color
                    #dark.color
                .clear
            li
                header 3. Make an image
                section.grid
                .clear
            li
                header 4.
                section Question
            li
                header 5.
                section Question
    script(data-main="bin/main", src="vendor/require.js")
