doctype html
title Survey
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible",content="ie=edge")
meta(name="viewport",content="width=device-width, initial-scale=1")
link(href="https://cdn.jsdelivr.net/font-hack/2.013/css/hack.min.css",rel="stylesheet")
link(href="styles/bin/main.css", rel="stylesheet")
body
    .survey
        ul
            li#assign(dmd="name",done-ignore)
                input#name(type="text",placeholder="Student ID (s1234567)",autofocus)
            li(dmd="color1")
                header 1. Pick a color
                section.colors.options
                    .color(data-id="red")
                    .color(data-id="orange")
                    .color(data-id="yellow")
                    .color(data-id="green")
                    .color(data-id="blue")
                    .color(data-id="purple")
                    .color(data-id="brown")
                    .color(data-id="pink")
                    .color(data-id="grey")
                hr
                section.shades.options
                    .color(data-id="light")
                    .color(data-id="normal")
                    .color(data-id="dark")
                .clear
            li(dmd="color2")
                header 2. Pick another color
                section.colors.options
                    .color(data-id="red")
                    .color(data-id="orange")
                    .color(data-id="yellow")
                    .color(data-id="green")
                    .color(data-id="blue")
                    .color(data-id="purple")
                    .color(data-id="brown")
                    .color(data-id="pink")
                    .color(data-id="grey")
                hr
                section.shades.options
                    .color(data-id="light")
                    .color(data-id="normal")
                    .color(data-id="dark")
                .clear
            li(dmd="grid")
                header 3. Make a simple image
                section.grid
                .clear
            li(dmd="select1")
                header 4. Which do you prefer?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option Hot
                        option Cold
                    select(map="2")
                        option(disabled,selected) -
                        option Winter
                        option Spring
                        option Summer
                        option Autumn
                    select(map="3")
                        option(disabled,selected) -
                        option Day
                        option Night
                    span.result(map="1")
                    span.result(map="2")
                    span.result(map="3")
            li(dmd="select2")
                header 5. Which do you prefer?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option Cake
                        option Pie
                    select(map="2")
                        option(disabled,selected) -
                        option Cookie
                        option Brownie
                    select(map="3")
                        option(disabled,selected) -
                        option Breakfast
                        option Lunch
                        option Dinner
                    span.result(map="1")
                    span.result(map="2")
                    span.result(map="3")
            li(dmd="select3")
                header 6. Which would you doodle with?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option Pen
                        option Pencil
                        option Mechanical
                        option Crayon
                        option Brush
                        option Marker
                        option Stylus
                    span.result(map="1")
            li(dmd="select4")
                header 7. What scares you <u>most</u>?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option Spiders
                        option Snakes
                        option Heights
                        option Public Speaking
                        option Crowds
                        option Small spaces
                        option Dark
                        option Fire
                        option Supernatural
                    span.result(map="1")
            li(dmd="select5")
                header 8. Which do you align with?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option Introvert
                        option Extrovert
                    select(map="2")
                        option(disabled,selected) -
                        option Thinking
                        option Feeling
                    select(map="3")
                        option(disabled,selected) -
                        option Sensing
                        option Intuition
                    select(map="4")
                        option(disabled,selected) -
                        option Judging
                        option Perceiving
                    span.result(map="1")
                    span.result(map="2")
                    span.result(map="3")
                    span.result(map="4")
            li(dmd="select6")
                header 9. Which do you value more?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option Friends
                        option Family
                    select(map="2")
                        option(disabled,selected) -
                        option Strength
                        option Intelligence
                    select(map="3")
                        option(disabled,selected) -
                        option Wealth
                        option Long Life
                    select(map="4")
                        option(disabled,selected) -
                        option Safety
                        option Adventure
                    span.result(map="1")
                    span.result(map="2")
                    span.result(map="3")
                    span.result(map="4")
            li(dmd="select7")
                header 10. Which do you prefer?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option Water
                        option Fire
                        option Air
                        option Earth
                    span.result(map="1")
            li(dmd="select8")
                header 11. Which do you prefer?
                section
                    select(map="1")
                        option(disabled,selected) -
                        option English
                        option Literature
                        option Math
                        option Science
                        option History
                        option Art
                        option Music
                        option Theater
                        option Sports
                    span.result(map="1")
            li(dmd="ignore",done-ignore)
                input.submit(type="button",value="Submit",disabled)
    script(data-main="bin/main", src="vendor/require.js")
