doctype html
title Survey
link(href="styles/main.css", rel="stylesheet")
body
    .survey
        ul
            li
                header 1.
                section Question
            li
                header 2.
                section Question
            li
                header 3.
                section Question
            li
                header 4.
                section Question
    script(data-main="bin/main", src="vendor/require.js")
