*
    margin 0
    padding 0
    list-style-type none
    box-sizing border-box

html, body
    width 100%
    background #ddd
    font-family Hack, monospace
    .survey
        width 360px
        height 100%
        background #eee
        margin 20px auto
        box-shadow 0 5px 12px -4px #000
        ul
            width 100%
            padding 10px
            li
                background #fff
                margin-bottom 20px
                padding 5px
                box-shadow 0 5px 6px -6px #000
                position relative
                &#assign
                    width 100%
                    padding 0
                    #name
                        width 100%
                        border none
                        outline none
                        padding 8px 10px
                        margin 0
                        text-align center
                        color #ff4136
                        &.active
                            color #2ecc40
                &:last-child
                    margin-bottom 0
                &.done
                    border-bottom 10px solid #0c0
                .clear
                    clear both
                .submit
                    width 100%
                    border 1px solid #000
                    outline none
                    padding 4px 0
                    cursor pointer
                    &[disabled]
                        opacity 0.3
                        cursor none
                header
                    font-weight bold
                section
                    select
                        width 324px
                        border 1px solid #000
                        padding 4px
                        margin 8px 0
                        background #fff
                        cursor pointer
                    .result
                        color #000
                        font-weight bold
                        border 1px solid #000
                        padding 0 4px
                        background #eee
                        border-radius 5px
                        margin 0 2px
                    .color
                        width 100px
                        height 100px
                        margin 5px
                        float left
                        cursor pointer
                        // border 2px solid #000
                        &[data-id=red]
                            background #c00
                        &[data-id=orange]
                            background #fa0
                        &[data-id=yellow]
                            background #ee5
                        &[data-id=green]
                            background #080
                        &[data-id=blue]
                            background #09f
                        &[data-id=purple]
                            background #86c
                        &[data-id=brown]
                            background #752
                        &[data-id=pink]
                            background #f7f
                        &[data-id=grey]
                            background #888
                        &[data-id=light]
                            background #fff
                        &[data-id=normal]
                            background #ccc
                        &[data-id=dark]
                            background #000
                    .select
                        border 20px solid #fff
                        // outline 1px solid #000
                    &.grid
                        padding 0 2px
                        .cell
                            width 54px
                            height 54px
                            border 1px solid #000
                            float left
                            cursor pointer
                            background #fff
                        .select
                            background #000
