*
    margin 0
    padding 0
    list-style-type none
    box-sizing border-box

html, body
    width 100%
    background #ddd
    font-family Hack, monospace
    .survey
        width 360px
        height 100%
        background #eee
        margin 20px auto
        box-shadow 0 5px 12px -4px #000
        ul
            width 100%
            padding 10px
            li
                background #fff
                margin-bottom 20px
                padding 5px
                box-shadow 0 5px 6px -6px #000
                &#assign
                    width 100%
                    padding 0
                    #name
                        width 100%
                        border none
                        outline none
                        padding 8px 10px
                        margin 0
                        text-align center
                        color #ff4136
                        &.active
                            color #2ecc40
                &:last-child
                    margin-bottom 0
                .clear
                    clear both
                header
                    font-weight bold
                section
                    .color
                        width 100px
                        height 100px
                        margin 5px
                        float left
                        cursor pointer
                        border 2px solid #000
                    &.grid
                        padding 0 2px
                        .cell
                            width 54px
                            height 54px
                            border 1px solid #000
                            float left
                            cursor pointer
                            background #fff
                        .select
                            background #000
                    .select
                        border 6px solid #000
                    #red
                        background #c00
                    #orange
                        background #fa0
                    #yellow
                        background #ee5
                    #green
                        background #080
                    #blue
                        background #09f
                    #purple
                        background #86c
                    #brown
                        background #752
                    #pink
                        background #f7f
                    #grey
                        background grey
                    #light
                        background #fff
                    #normal
                        background #ccc
                    #dark
                        background #000
